<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>XXXXXXXXXXXXXXXXXXXX</title>
    <meta name="description" content="XXXXXXXXXXXXXXXXXXXX" />
    <!-- Facebook XXXXXXXXXXXXXXXXXXXX -->
    <meta property="og:url" content="XXXXXXXXXXXXXXXXXXXX" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="XXXXXXXXXXXXXXXXXXXX" />
    <meta property="og:description" content="XXXXXXXXXXXXXXXXXXXX" />
    <meta property="og:image" content="./assets/img/facebook.png" />
    <!-- Favicon XXXXXXXXXXXXXXXXXXXX -->
    <!-- Custom css -->
    <link href="./assets/css/style.css" rel="stylesheet" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body ng-app="flapperNews">
    <div ng-hide="isLoggedIn()">
        <h3>You need to <a href="/#/login">Log In</a> or <a href="/#/signup">Sign Up</a> before you can add a post.</h3>
    </div>
    <nav ng-controller="NavCtrl">
        <ul>
            <li ng-show="isLoggedIn()"><a>{{ currentUser() }}</a></li>
            <li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
            <li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
            <li ng-hide="isLoggedIn()"><a href="/#/signup">Sign Up</a></li>
        </ul>
    </nav>
    <ui-view></ui-view>
    <!-- Library and Custom Script -->
    <script src="./assets/js/app.js"></script>
    <script type="text/ng-template" id="/home.html">
        <div>
            {{test}}
        </div>
        <div ng-repeat="post in posts | orderBy:'-upvotes'">
            <span ng-click="incrementUpvotes(post)">^</span>
            <span ng-show="post.author">posted by <a>{{post.author}}</a> | </span>
            <a ng-show="post.link" href="{{post.link}}">{{post.title}}</a>
            <span ng-hide="post.link">{{post.title}}</span> - upvotes: {{post.upvotes}}
            <a href="#/posts/{{post._id}}">Comments</a>
        </div>
        <form ng-submit="addPost()" ng-show="isLoggedIn()">
            <input type="text" placeholder="Title" ng-model="title"></input>
            <br>
            <input type="text" placeholder="Link" ng-model="link"></input>
            <br>
            <button type="submit">Post</button>
        </form>
    </script>
    <script type="text/ng-template" id="/posts.html">
        <a ng-show="post.link" href="{{post.link}}">
        {{post.title}}
      </a>
        <span ng-hide="post.link">
        {{post.title}}
      </span>
        <div ng-repeat="comment in post.comments | orderBy:'-upvotes'">
            <span ng-click="incrementUpvotes(comment)">^</span> {{comment.upvotes}} - by {{comment.author}}
            <span>{{comment.body}} </span>
        </div>
        <form ng-submit="addComment()" ng-show="isLoggedIn()">
            <input type="text" placeholder="Comment" ng-model="body"></input>
            <button type="submit">Post</button>
        </form>
    </script>
    <script type="text/ng-template" id="/signup.html">
        <div ng-show="error">
            <span>{{ error.message }}</span>
        </div>
        <form ng-submit="signUp()">
            <input type="text" placeholder="Username" ng-model="user.username"></input>
            <input type="password" placeholder="Password" ng-model="user.password"></input>
            <button type="submit">Sign Up</button>
        </form>
    </script>
    <script type="text/ng-template" id="/login.html">
        <div ng-show="error">
            <span>{{ error.message }}</span>
        </div>
        <form ng-submit="logIn()">
            <input type="text" placeholder="Username" ng-model="user.username"></input>
            <input type="password" placeholder="Password" ng-model="user.password"></input>
            <button type="submit">Log In</button>
        </form>
    </script>
</body>

</html>
